@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
body {
  overflow-x: hidden;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.loading{
  height: 100vh;
  width: 100vw;
  background: url('pandb-travel.gif') white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  z-index: 100;
}
.header {
  height: 10vh;
  width: 100%;
  padding: 0px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 90;
}
.icons {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons i{
    transition: all 0.3s linear;

}
.icons i:hover {
  background-color: beige;
  color: black;
}
.name {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-right: 40px;
}
.icons i {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 4px;
  font-size: 25px;
  border-radius: 15%;
  margin-left: 20px;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
li {
  list-style: none;
}
.navbar-links {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 22px;
  padding: 5px;
  transition: all 0.5s linear;
}
.navbar-links:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}
.section {
  position: absolute;
  top: 0;
  left: 0;
}
.slider {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.slide {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
img {
  transition: all 0.5s;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
}
.active img {
  opacity: 1;
}
.left-content {
  transform: translateX(-100%);
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.5s;
}
.active .left-content {
  transform: translateX(0%);
}
.right-content {
  position: absolute;
  left: 50%;
  width: 50vw;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.5s;
}
.active .right-content {
  transform: translateX(0%);
}
.right-content p {
  position: absolute;
  top: 62%;
  left: 1%;
  transform: translate(0, -50%);
  font-size: 70px;
  font-weight: 800;
  color: white;
}
.heading {
  font-size: 150px;
  font-weight: 900;
  color: red;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
}
.heading1 {
  font-size: 150px;
  font-weight: 900;
  color: white;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
}
.bottom-content {
  position: absolute;
  width: 50%;
  bottom: 10%;
  left: 20%;
  font-size: 20px;
}
.bottom-content p {
  font-weight: 500;
}
.btns {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.left-btn,
.right-btn {
  background-color: white;
  padding: 2px;
  color: black;
  font-size: 35px;
  border-radius: 5px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.left-btn i{
    display: inline-block;
}
.left-btn:hover,
.right-btn:hover {
  color: beige;
  background-color: black;
}
